---
import type { HTMLAttributes } from "astro/types";
import { SECTION, type SectionVariants } from "./section.styles";

const { class: className, intent, reverse, ...props } = Astro.props;

type Props = HTMLAttributes<"p"> & SectionVariants;
export type { Props as SectionContentProps };
---

<p {...props} class={SECTION.content({ className, intent, reverse })}>
	<slot />
</p>